body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

.hero {
  background: black;
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  color: red;
  font-size: 3rem;
}

nav {
  background: #111;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

section {
  padding: 40px;
}

h2 {
  color: red;
  text-align: center;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1a1a1a;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.event {
  background: #1a1a1a;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.event a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background: #111;
  text-align: center;
  padding: 20px;
}
